# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
node_modules/
.installed.cfg
*.egg
serverless.env.yml

# Serverless directories
.serverless