# name
NAME_PREFIX: sample  # リソース名の重複を防ぐためなどに使用(例:S3 Bucket名)

# TimeZone
TZ : 'Asia/Tokyo'

# Auth0
AUTH0_DOMAIN: xxxxx
API_AUDIENCE: yyyyy

# slack
SLACK_NOTIFY_URL: [webhook URL]

# LINE Notify
LINE_NOTIFY_ACCESS_TOKEN: [access_token]

# twitter
TWITTER_CONSUMER_KEY: aaaaa
TWITTER_CONSUMER_SECRET: bbbbb
TWITTER_ACCESS_TOKEN: ccccc
TWITTER_ACCESS_TOKEN_SECRET: ddddd
